[package]
name = "tino"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.91"
axum = "0.7.7"
clap = { version = "4.5.20", features = ["cargo", "derive", "env"] }
dotenv = "0.15.0"
flate2 = "1.0.34"
regex = "1.11.1"
reqwest = { version = "0.12.9", default-features = false, features = [
  "json",
  "rustls-tls-native-roots",
] }
serde = "1.0.213"
serde_json = "1.0.132"
teloxide = { version = "0.13.0", default-features = false, features = [
  "ctrlc_handler",
  "macros",
  "rustls",
  "webhooks-axum",
] }
thiserror = "1.0.65"
tokio = { version = "1.41.0", features = ["rt-multi-thread", "sync"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
url = "2.5.2"

[dev-dependencies]
itertools = "0.13.0"
pretty_assertions = "1.4.1"
snapbox = "0.6.18"
