;; shadow-cljs configuration
{:builds {:script {:js-options {:js-provider :import},
                   :modules {:script {:init-fn tino.core/main}},
                   :output-dir "target",
                   :runtime :node,
                   :target :esm}},
 :dependencies [],
 :source-paths ["src"]}
