;; shadow-cljs configuration
{:builds {:script {:main tino.core/main,
                   :output-to "target/index.js",
                   :target :node-script}},
 :dependencies [],
 :source-paths ["src"]}
