name: Test

on:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Test native build
        run: cargo build --verbose --locked
      - name: Run simple tests
        run: cargo test --verbose
      - name: Run heavy tests
        run: cargo test --verbose -- --ignored
